.btnWrapper button {
  margin: 1px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #8b6c79;
}

.btnWrapper button:nth-child(2) {
  color: #6a4f95;
}
.btnWrapper button:nth-child(3) {
  color: #4d7a6a;
}
.btnWrapper button:nth-child(4) {
  color: #7d4c46;
}
