.singleTask {
  margin: 4px;
  background-color: #2f3d4e;
  height: 34px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.singleTask input {
  padding-left: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
